@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helper to hide scrollbar for horizontal gallery */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
body { background: #fffaf7; }
